window {{
margin: 0px;
border: 3px solid {color10};
border-radius: 12px;
background-color: {background};
}}

#input {{
margin: 5px;
border: none;
border-radius: 8px;
color: {foreground};
background-color: {color2};
}}

#inner-box {{
margin: 5px;
border: none;
border-radius: 8px;
background-color: {background};
}}

#outer-box {{
margin: 5px;
border: none;
border-radius: 8px;
background-color: {background};
}}

#scroll {{
margin: 0px;
border: none;
}}

#text {{
margin: 5px;
border: none;
color: {foreground};
}} 

#entry.activatable #text {{
color: {background};
}}

#entry > * {{
color: {foreground};
}}

#entry:selected {{
background-color: {color14};
border: none;
border-radius: 8px;
}}

#entry:selected #text {{
font-weight: bold;
}}
